# Copyright 2026 Telefónica Soluciones de Informática y Comunicaciones de España, S.A.U.
#
# This file is part of kafnus-connect
#
# kafnus-connect is free software: you can redistribute it and/or
# modify it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# kafnus-connect is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero
# General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with kafnus. If not, see http://www.gnu.org/licenses/.

# .env.example
# Postgres
KAFNUS_POSTGIS_IMAGE=postgis/postgis:15-3.3
KAFNUS_DBPATH_POSTGIS=/data/postgis

######### Tests #########
# Postgres
KAFNUS_TESTS_PG_HOST=localhost
KAFNUS_TESTS_PG_PORT=5432
KAFNUS_TESTS_PG_DBNAME=tests
KAFNUS_TESTS_PG_USER=postgres
KAFNUS_TESTS_PG_PASSWORD=postgres
# MongoDB
KAFNUS_TESTS_MONGO_URI=mongodb://mongo:27017
# Kafka
KAFNUS_TESTS_KAFKA_CONNECT_URL=http://localhost:8083
KAFNUS_TESTS_DEFAULT_CONNECTOR_NAME=http-sink
# Flags
KAFNUS_TESTS_USE_EXTERNAL_POSTGIS=false
KAFNUS_TESTS_E2E_MANUAL_INSPECTION=true
KAFNUS_TESTS_LOG_LEVEL=DEBUG
