# Copyright 2026 Telefónica Soluciones de Informática y Comunicaciones de España, S.A.U.
#
# This file includes or is based on software originally developed by Confluent Inc.
# and has been modified by Telefónica Soluciones de Informática y Comunicaciones
# de España, S.A.U.
#
# Licensed under the Confluent Community License, Version 1.0.
# You may obtain a copy of the License at:
#
#   http://www.confluent.io/confluent-community-license
#
# This software is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
# CONDITIONS OF ANY KIND, either express or implied.

# .env.example
# Postgres
KAFNUS_POSTGIS_IMAGE=postgis/postgis:15-3.3
KAFNUS_DBPATH_POSTGIS=/data/postgis

######### Tests #########
# Postgres
KAFNUS_TESTS_PG_HOST=localhost
KAFNUS_TESTS_PG_PORT=5432
KAFNUS_TESTS_PG_DBNAME=tests
KAFNUS_TESTS_PG_USER=postgres
KAFNUS_TESTS_PG_PASSWORD=postgres
# MongoDB
KAFNUS_TESTS_MONGO_URI=mongodb://mongo:27017
# Kafka
KAFNUS_TESTS_KAFKA_CONNECT_URL=http://localhost:8083
KAFNUS_TESTS_DEFAULT_CONNECTOR_NAME=http-sink
# Flags
KAFNUS_TESTS_USE_EXTERNAL_POSTGIS=false
KAFNUS_TESTS_E2E_MANUAL_INSPECTION=true
KAFNUS_TESTS_LOG_LEVEL=DEBUG
