# .env.example
# Postgres
KAFNUS_POSTGIS_IMAGE=postgis/postgis:15-3.3
KAFNUS_DBPATH_POSTGIS=/data/postgis

######### Tests #########
# Postgres
KAFNUS_TESTS_PG_HOST=localhost
KAFNUS_TESTS_PG_PORT=5432
KAFNUS_TESTS_PG_DBNAME=tests
KAFNUS_TESTS_PG_USER=postgres
KAFNUS_TESTS_PG_PASSWORD=postgres
# MongoDB
KAFNUS_TESTS_MONGO_URI=mongodb://mongo:27017
# Kafka
KAFNUS_TESTS_KAFKA_CONNECT_URL=http://localhost:8083
KAFNUS_TESTS_DEFAULT_CONNECTOR_NAME=http-sink
# Flags
KAFNUS_TESTS_USE_EXTERNAL_POSTGIS=false
KAFNUS_TESTS_E2E_MANUAL_INSPECTION=true
KAFNUS_TESTS_LOG_LEVEL=DEBUG
